{{#unless homeExist}}
<div class="row">
  <div class="col-lg-6" style="max-width: 540px;">
    <div class="row">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">
      <style type="text/css">
      .st0{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
      .st1{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
      .st2{fill:none;stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
      </style>
      <g>
        <path class="st0" d="M400.4,217.1l-78.1-104.6l-170,53.8c-0.3,0.3-0.8,0-1.1,0.3L221,275.5L400.4,217.1L400.4,217.1z"/>
        <line class="st1" x1="151.2" y1="166.6" x2="83.9" y2="239.2"/>
        <path class="st0" d="M221,359.2"/>
        <path class="st0" d="M221,273.5"/>
        <path class="st0" d="M223.5,367.5l177-59v-85.1c-0.1-0.4,0-3.2,0-3.2c-1.8-1.2-0.7,0-2-1.7l-177.5,57v91.1
        C221.9,367,222.7,367.3,223.5,367.5z"/>
        <path class="st0" d="M83.9,239.2c0,29.9,0,52.9,0,82.8"/>
        <line class="st1" x1="223.5" y1="367.5" x2="83.9" y2="322"/>
        <path class="st0" d="M83.9,239.2"/>
        <path class="st0" d="M221,273.5"/>
      </g>
      <rect class="st2" width="480" height="480"/>
      <line class="st1" x1="0" y1="275.5" x2="83.9" y2="275.5"/>
      <path class="st1" d="M484.4,275.5"/>
      <line class="st1" x1="400.5" y1="275.5" x2="480" y2="275.5"/>
    </svg>

  </div>

  <div class="row" style="text-align: center;" >
    <!-- Create Home Button-->
    <button type="button" class="ember-view md-primary md-default-theme md-button" name="button" data-toggle="modal" data-target="#create-home-form">{{paper-icon "add"}}New Home</button>
    <!-- Check Section Out -->
    <button type="button" class="ember-view md-primary md-default-theme md-button" name="button">{{paper-icon "panorama-fish-eye"}}{{#link-to 'sections'}}Check Houses Out{{/link-to}}</button>
    <!-- Suggest Public Space -->
    <button type="button" class="ember-view md-primary md-default-theme md-button" name="button">{{paper-icon "change-history"}}Public Space</button>

    <!-- Modal for Create Home -->
    <div id="create-home-form" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create New Home</h4>
          </div>
          <div class="modal-body">
            <form {{action 'create' on='submit'}}>
              <div>
                <label>Color</label>
                {{input type='text' value=color}}
              </div>
              <div>
                <input type='submit' value='Save'/>
                <!-- <button {{action 'cancel'}}>Cancel</button> -->
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="col-lg-6" style="text-align: center; padding: 200px;">
  <div class="row">
    <h3>You have no home :(</h3>
    <h4>Create or join one!</h4>
  </div>
</div>
</div>

{{/unless}}
