<h1>Individual Section</h1>
<h4>Section ID: {{model.sections.id}}</h4>
<p>{{model.sections.height}} X {{model.sections.width}}</p>

{{section-grid save=(action 'saveResult') homes=model.homes sections=model.sections cells=model.cells cellsArray=model.sections.cells id=model.sections.elementId}}

{{#each residents as |resident|}}
<h1>{{resident.name}}</h1>
{{/each}}
