<h1>Individual Section</h1>
<h4>Section ID: {{model.id}}</h4>
<p>{{model.height}} X {{model.width}}</p>
<p style="color: red;">
  HERE:
  {{#each model.cells as |cell|}}
  <h4>Cell ID: {{cell.id}}</h4>
  <p>{{cell.occupied}}</p>
  {{/each}}
</p>
{{section-grid sections=model id=model.elementId}}
